[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
solana_gpt_tuktuk = "H8Tq9DAw82BcYzeeBpm3BLisK8sQn4Ntyj3AewhNTuvj"

[programs.localnet]
solana_gpt_tuktuk = "H8Tq9DAw82BcYzeeBpm3BLisK8sQn4Ntyj3AewhNTuvj"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "cargo test -- --nocapture"
